
# BEGIN WordPress
# Les directives (lignes) entre « BEGIN WordPress » et « END WordPress » sont générées
# dynamiquement et doivent uniquement être modifiées via les filtres de WordPress.
# Toute modification des directives situées entre ces marqueurs sera surchargée.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /TEST/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /TEST/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# Les directives (lignes) entre « BEGIN Simply Static » et « END Simply Static » sont générées
# dynamiquement et doivent uniquement être modifiées via les filtres de WordPress.
# Toute modification des directives situées entre ces marqueurs sera surchargée.
<Files "C:\wamp64\www\TEST/wp-content/uploads\simply-static\0f563622f5a616f0a4c5d076dce8506e-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static