#customize-controls .control-section-custom-print-shop .accordion-section-title:hover,
#customize-controls .control-section-custom-print-shop .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-custom-print-shop .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-custom-print-shop .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}


input#_customize-input-custom_print_shop_content_spacing{
	display: none;
}
li#customize-control-custom_print_shop_content_spacing{
	margin: 0;
}
li#customize-control-custom_print_shop_slider_top_spacing,
li#customize-control-custom_print_shop_slider_bottom_spacing,
li#customize-control-custom_print_shop_slider_left_spacing,
li#customize-control-custom_print_shop_slider_right_spacing {
    width: 20%;
    clear: none;
    margin-right: 10px;
}


li#customize-control-custom_print_shop_related_product,
li#customize-control-custom_print_shop_woocommerce_button_border_radius,
li#customize-control-custom_print_shop_woocommerce_product_box_shadow,
li#customize-control-custom_print_shop_back_to_top_alignment,
li#customize-control-custom_print_shop_footer_widget_layout,
li#customize-control-custom_print_shop_404_button_text, 
li#customize-control-custom_print_shop_request_btn_url,
li#customize-control-custom_print_shop_nav_font_size  {
  border-bottom: 1px solid #b2b1b1;
  padding-bottom: 10px;
}

/* --------- Icon Changer Style --------- */
.type-icon{
  	overflow: hidden;
}
li.customize-control-icon span.customize-control-title{
	margin: 10px 0;
}
.selected-icon{
	background: #fff;
	line-height: 45px;
	border: 1px solid #ddd;
	position: relative;
	cursor: pointer;
	padding: 0 10px;
}
.selected-icon i{
	font-size: 18px;
	margin-right: 10px;
}
.selected-icon span i{
	position: absolute;
	background: #fff;
	right: 0;
	height: 45px;
	width: 30px;
	margin: 0;
	text-align: center;
	border: 1px solid #ddd;
	font-size: 20px;
	line-height: 45px;
}
.icon-list{
	padding: 10px;
	font-size: 18px;
	border: 1px solid #EEE;
	border-right: 0;
	border-top: 0;
	padding-bottom: 4%;
	display: none;
	cursor: pointer;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-y: scroll;	
	height: 215px;
}
.icon-list li{
	padding: 10px;
	border: 1px solid #eee;
}
.icon-list li i{
	margin-right: 10px;
}
.icon-list li:hover{
	background: #333;
	border: 1px solid #333;
	color: #FFF;
}
.icon-list li.icon-active{
	background: #0073aa;
	border: 1px solid #0073aa;
	color: #FFF;
}
.social-icon-search{
	padding: 10px 0;
}
.socialInput{
	padding: 10px;
	font-size: 16px;
}
.icons-class {
	font-size: 15px;
	font-weight: 500;
}


#customize-control-custom_print_shop_demo_link span a,
#customize-control-custom_print_shop_doc_link span a,
#customize-control-custom_print_shop_forum_link span a,
#customize-control-custom_print_shop_menu_settings_premium_features a,
#customize-control-custom_print_shop_featured_settings_premium_features a,
#customize-control-custom_print_shop_post_settings_premium_features a {
  display: inline-block;
  background-color: #5DD69C;
  color: #fff;
  text-decoration: none;
  font-weight:  600;
  text-transform: capitalize;
  font-size: 14px;
  padding: 7px 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}
#customize-control-custom_print_shop_demo_link span a:hover,
#customize-control-custom_print_shop_doc_link span a:hover,
#customize-control-custom_print_shop_forum_link span a:hover {
  background-color: #000;
}
#customize-control-custom_print_shop_demo_link span,
#customize-control-custom_print_shop_doc_link span,
#customize-control-custom_print_shop_forum_link span,
#customize-control-custom_print_shop_menu_settings_premium_features span,
#customize-control-custom_print_shop_featured_settings_premium_features span,
#customize-control-custom_print_shop_post_settings_premium_features span{
  border: 1px solid grey;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
#customize-control-custom_print_shop_demo_link h3,
#customize-control-custom_print_shop_doc_link h3,
#customize-control-custom_print_shop_forum_link h3{
  margin: 0px 0px 10px 0px;
}
#accordion-section-custom_print_shop_about_theme .accordion-section-title{
  background-color: #5DD69C;
  color: #fff;
}

#customize-control-custom_print_shop_menu_settings_premium_features li,
#customize-control-custom_print_shop_featured_settings_premium_features li,
#customize-control-custom_print_shop_post_settings_premium_features li{
	list-style-type: disc;
	margin-left: 20px;
}